<!DOCTYPE html>
<html ng-app="JuegoApp">
<head>
<meta charset="ISO-8859-1">
<title>CarmenSanDiego Game</title>
<link rel="stylesheet" href="css/app.css"/>
  <!-- Agregamos angular para que funcione  -->
  <script src="node_modules/angular/angular.min.js"></script>
  <!-- BOOTSTRAP -->
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
</head>
<body ng-controller="TodosLospaisesConexionesYVillanosCtrl as paisesC">
 <div class="container">
		<ul class="nav nav-pills">
  			<li role="navegacion" class="active"><a href="#">InicioDeJuego</a></li>
  			<li role="navegacion"><a href="#">Expedientes</a></li>
  			<li role="navegacion"><a href="#">Mapamundi</a></li>	
		</ul>
	<div class="container">
	 	<h1>Juego <small>CarmenSanDiego</small></h1>
	</div>
	<div class="container">
		<p class="lead" >Estan En :{{paisDondeEstoy.nombre}} <i> Antes En:{{paisesC.nombrePaisDondeEstuvoElVillano}}</i></p>				
	</div>
	<form class="col-sm-4">
			
		<div class ="well well-lg">
				<p class="lead" >Viajar A: {{paisesC.paisAViajar.nombre}}</p>	
			<button type="submit" class="btn btn-primary"
				data-ng-click="paisesC.viajar()">Viajar
			</button>
			<br>			
			<div class ="well well-lg">
				
     		 <table class="table table-striped table-hover">
      		  <thead>	
       			  <tr>
          		   <th>Paises Posibles</th>
           			  <th></th>
       			  </tr>
       		  </thead>
        	 <tbody>
       			 <!-- <tr ng-repeat="pais in paisesT.paises ">-->
        		<tr data-ng-repeat="pais in paisesC.paisesConexiones"> 
          		  <td>{{pais.nombre}}</td>
           		  <td>
   				    <button type="submit" class="btn btn-default btn-sm" ng-click="paisesC.eligirPaisAViajar(pais)">
            			<span class="glyphicon glyphicon-check"></span>
          			</button>
          		  </td>
        	  	 </tr>
        		</tbody>
    	 	 </table>
    		</div>
    		</div>
    					<div class ="well well-lg">	
     		 <table class="table table-striped table-hover">
      		  <thead>	
       			  <tr>
          		   <th>Paises Fallidos</th>
           			  <th></th>
       			  </tr>
       		  </thead>
        	 <tbody>
       			 <!-- <tr ng-repeat="pais in paisesT.paises ">-->
        		<tr data-ng-repeat="paises in paisesC.paisesfallidos"> 
          		  <td>{{paises.nombre}}</td>
        	  	 </tr>
        		</tbody>
    	 	 </table>
    		</div>
    	</form>
    	<form class="col-sm-5">
    		<div class ="well well-lg">
    		
    			<div class="btn-group btn-group-lg" role="group" >
  					<button type="button" class="btn btn-default"
  					data-ng-click="paisesC.devolverPista()">Club</button>
  					<button type="button" class="btn btn-default"
					data-ng-click="paisesC.devolverPista()">Embajada</button>
 					 <button type="button" class="btn btn-default"
 					 data-ng-click="paisesC.devolverPista()">Biblioteca</button>
				</div>
    		</div>
    		<div class ="well well-lg">
    			<label for="titulo">Visitando:</label>
				<p class="lead" data-ng-show="pais">{{paisesC.lugarVisitado}}</p>	
    		</div>
    		
    		<div class ="well well-lg">
    			<h1> Orden De Arresto:</h1>
				<p class="lead" >Emitida Contra: {{paisesC.villanoAArrestar.nombre}}</p>
				<select name="mySelectorDevillanos" 
       					 id="mySelect" 
       					 class="form-control"
       					 ng-options="villano.nombre for villano in paisesC.villanos track by villano.id"
     					 ng-model="paisesC.selectedVillanoAArrestar" >
     		 			 <option value=""selected>Elige el Villano a arrestar </option></select>
    					<span class="input-group-btn">
       					</button>
        				</span>
      			 <br>
      			<button type="button" class="btn btn-default"
  					data-ng-click="paisesC.generearOrdenDeArresto()">Pedir Orden De Arresto</button>	
    		</div>
    	</form>
</div>
  <!-- Importamos los archivos extras que vamos a usar -->
  <script src="js/app.js"></script>
  <script src="css/app.css"></script>		
</body>
</html>